body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
  background: rgb(106, 157, 245);
  font-family: Arial, sans-serif; 
  min-height: 100vh;
  max-width: 100%;
}
img{
filter: invert();
}

header {
  max-width: 100%;
  height: auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr; 
  align-items: center;
  justify-items: center;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.particles {
  position: fixed;
  z-index: -1;
}

.color-setup {
  display: flex;
  align-items: center;
  gap: 50px; 
}

.particle-changer,
.bg-changer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100px;
  height: 70px;
  border: none;
  cursor: pointer;
  background: none;
  transition: transform 0.2s;
}

input[type="color"]:hover {
  transform: scale(1.1); 
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border:2px solid #eaecff;
  border-radius: 8px; 
}
input[type="color"]::-moz-color-swatch {
  border-radius: 8px;
}

label {
  font-size: 14px;
  color: #333;
  text-align: center;
}

.apply {
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
}

.apply:hover {
  background-color: #357abd;
  transform: translateY(-2px); 
}

.Name {
  font-size: 28px;
  color: #333;
  margin: 0;
  font-weight: bold;
}

.presets-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.view {
  padding: 10px 20px;
  background-color: #e94e77;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
}

.view:hover {
  background-color: #c33d5f;
  transform: translateY(-2px);
}

.presets {
  width: 0;
  height: 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  gap: 10px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 60px;
  transition: all 0.5s ease; 
  overflow-y: auto; 
  max-height: 70vh;
}

.presets-area{
  position: relative; 
  z-index:4;
}

.preset {
  width: 90%; 
  min-height: 55px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  transition: transform 0.2s;
}

.preset:hover {
  transform: scale(1.05);
}

.inner-color {
  width: 80%;
  height: 60%;
  border-radius: 8px;
}

#preset1 {
  background-color: rgb(106, 157, 245); /* Светлый голубовато-серый */
}

#preset1 .inner-color {
  background-color: rgba(255, 255, 255, 0.7); /* Насыщенный синий */
}

#preset2 {
  background-color: #000000; /* Яркий красный */
}

#preset2 .inner-color {
  background-color: rgba(255, 162, 0, 0.7); /* Светлый бежевый */
}

#preset3 {
  background-color: rgb(245, 106, 157); /* Оставляем без изменений */
}

#preset3 .inner-color {
  background-color: rgba(255, 255, 255, 0.7); /* Белый */
}

#preset4 {
  background-color: #f4a261; /* Приглушённый оранжевый */
}

#preset4 .inner-color {
  background-color: rgba(42, 157, 143, 0.7); /* Бирюзовый */
}

#preset5 {
  background-color: #8ac926; /* Яркий лаймовый */
}

#preset5 .inner-color {
  background-color: rgba(25, 130, 196, 0.7); /* Насыщенный голубой */
}

#preset6 {
  background-color: #ffca3a; /* Яркий жёлтый */
}

#preset6 .inner-color {
  background-color: rgba(8, 28, 21, 0.7); /* Тёмно-зелёный */
}

/* Дополнительные 6 пресетов */

#preset7 {
  background-color: #d8f3dc; /* Очень светлый зелёный */
}

#preset7 .inner-color {
  background-color: rgba(43, 44, 40, 0.7); /* Тёмно-серый */
}

#preset8 {
  background-color: #bbd0d7; /* Светлый серо-голубой */
}

#preset8 .inner-color {
  background-color: rgba(55, 6, 23, 0.7); /* Тёмно-бордовый */
}

#preset9 {
  background-color: #ffadad; /* Светло-розовый */
}

#preset9 .inner-color {
  background-color: rgba(106, 4, 15, 0.7); /* Тёмно-красный */
}

#preset10 {
  background-color: #9d4edd; /* Фиолетовый */
}

#preset10 .inner-color {
  background-color: rgba(247, 37, 133, 0.7); /* Малиновый */
}

#preset11 {
  background-color: #4cc9f0; /* Яркий голубой */
}

#preset11 .inner-color {
  background-color: rgba(19, 42, 19, 0.7); /* Тёмно-зелёный */
}

#preset12 {
  background-color: #f9c74f; /* Насыщенный жёлтый */
}

#preset12 .inner-color {
  background-color: rgba(59, 89, 152, 0.7); /* Синий Facebook */
}



.active{
  width:150px;
  height:250px;
  padding: 10px;
}


.todo-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.todo-col {
  position: relative;
  width: 20%;
  min-width: 280px;
  height: 550px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  overflow-y: auto; 
}

.col-label{
  position:absolute;
  top:20;
  left:50%;
  transform:translateX(-50%);
  color:#b0b0b0;
  opacity:0.9;
}

.todo-container {
  margin-top: 80px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.todo {
  position: relative;
  width: 90%;
  height: 175px; 
  border-radius: 10px;
  background-color: #f5f5f5;
  transform-style: preserve-3d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0; 
  z-index: 2;
}

.todo.dragging {
  position:absolute;
  opacity: 0.8;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.front-side,
.back-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.front-side {
  background-color: #f5f5f5; 
}

.back-side {
  background-color: #f5f5f5;
  transform: rotateY(180deg); 
}


.todo-name h2 {
  margin: 0;
  text-align: center; 
  font-size: 18px;
  color: #333;
  font-weight: 500;
}


.description{
  margin-top:5px;
  margin-bottom:5px;
  height:65px;
  display:flex;
  align-items: center;
  overflow-x: auto;
  word-wrap: break-word;
  display:flex;
  justify-content: center;
}

.description p {
  max-width: 90%;
  margin: 0;
  text-align: center; 
  font-size: 14px;
  color: #666;
  flex-grow: 1; 
}

.date-priority {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.due p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.priority p {
  margin: 0;
  font-size: 24px; 
  font-family: "Impact", sans-serif;
  color: #4a90e2; 
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
}

.front-buttons{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding: 0 10px;
}

.edit, .finish, .start, .fail{
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
  align-self: center; 
  margin-bottom:7px;
}

.back-button{
  position: absolute;
  top: 10px;
  left: 10px;
  width:20px;
  height:20px;
  filter:none;
  opacity:0.5;
  cursor: pointer;
}

.new-todos .finish, .new-todos .fail, .new-todos .back-button{
  display: none;
}

.in-process .start{
  display: none;
}


.edit {
  background-color: #4a90e2;
}
.finish{
  background-color: #4caf50;
}
.start{
  background-color: #f4de36;
}
.fail{
  background-color: #e94e77;
}

.edit:hover {
  background-color: #357abd;
  transform: translateY(-2px);
}
.finish:hover{
  background-color: #388e3c;
  transform: translateY(-2px);
}
.start:hover{
  background-color: #e1cd36;
  transform: translateY(-2px);
}
.fail:hover{
  background-color: #c33d5f;
  transform: translateY(-2px);
}




.edit-todo-name,
.edit-description {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.edit-todo-name:focus,
.edit-description:focus {
  border: 2px solid#357abd;
  outline: none;
}

.edit-description {
  resize: none;
  height: 60px;
}

.edit-priority {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;;
}

.edit-priority label {
  font-size: 14px;
  color: #333;
}

.edit-priority select {
  padding: 6px;
  border: 1px solid #4a90e2;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s;
}

.edit-priority select:focus {
  border-color: #357abd;
  outline: none;
}

.edit-due{
  width:60px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s;
}
.edit-due:focus {
  border: 2px solid #357abd;
  outline: none;
}

.edit-buttons {
  display: flex;
  gap: 8px;
  justify-content: space-around;
}

.save,
.delete,
.cancel {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.save {
  background-color: #4a90e2;
  color: white;
}

.save:hover {
  background-color: #357abd;
  transform: translateY(3px);
}

.delete {
  background-color: #e94e77;
  color: white;
}

.delete:hover {
  background-color: #c33d5f;
  transform: translateY(3px);
}

.cancel {
  background-color: #ccc;
  color: #333;
}

.cancel:hover {
  background-color: #b0b0b0;
  transform: translateY(3px);
}

.todo-list button img{
  width: 20px;
  height: 20px;
}

.add-todo{
  position:absolute;
  top:20px;
  padding: 16px 16px;
  background-color: #4a90e2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
}

.animation-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(131, 255, 90, 0.9);
  z-index: 3;
  display: none; 
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.animation-icon {
  width: 40px;
  height: 40px;
  opacity: 0; 
}

.animation-text {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0; 
}

